<nav class="nav-bar">
    <div class="nav"> Welcome! Make a selection from the venues below </div>
</nav>
<div class="sub_nav">
    <ul class="nav-list">
        <li><button class="btn text-center vw-100 text-white" id="logout">logout</button></li>
    </ul>
</div>

<div class="row flex-direction-row flex-wrap-wrap justify-content-space-between"> 
  <div class="row">
     {{#each venues as |venue|}}
      <div class="card d-flex p-5 justify-content-space-evenly">
        <div class="card-body col-sm">
          <h5 class="venue-card"> {{venue.venue_name}} </h5>
          <p class="card-text">Capacity:{{venue.capacity}}.</p>
          <a href="/select-space/{{venue.id}}" class="btn btn-primary">LINK</a>
        </div>
      </div>
      {{/each}}
  </div>

      <script src="/js/logout.js"></script>
    </div>
</div>