<div class="bg-dark">
  <header class="header">
    <div class="wrap">
      <div class="logo">
        <h1 class="logo-placeholder">GatherNow</h1>
      </div>
      <h2 class="text-center my-5 text-white">{{get_data}}</h2>
      <button
        class="btn text-center vw-100 text-white"
        id="logout"
      >logout</button>
      <script src="/js/logout.js"></script>
    </div>
  </header>
</div>