<div class="m-5 vw-90 text-center">
  <h2 class="text-light m-5">Login</h2>
  <form class="form login-form">
    <div class="form-group text">
      <label for="email" class="text-light" style="display: block; text-align: center;">email:</label>
      <input class="form-input" type="text" id="email" />
    </div>
    <div class="form-group" style="display: inline-block; vertical-align: middle;">
      <label for="password" class="text-light" style="display: block; text-align: center;">password:</label>
      <input class="form-input" type="password" id="password" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary m-2" type="submit">login</button>
    </div>
    <div class = "text-light" id = "login-status"></div>
  </form>
</div>
<div class="m-5 vw-90 text-center">
  <h2 class="text-light m-5">Sign Up</h2>
  <form class="form signup-form">
        <div class="form-group text">
      <label for="userName" class="text-light" style="display: block; text-align: center;">User Name:</label>
      <input class="form-input" type="text" id="userName" />
      </div>
    <div class="form-group text">
      <label for="suEmail" class="text-light" style="display: block; text-align: center;">Email:</label>
      <input class="form-input" type="text" id="suEmail" />
    </div>
    <div class="form-group" style="display: block; vertical-align: middle;">
      <label for="suPassword" class="text-light" style="display: block; text-align: center;">Password:</label>
      <input class="form-input" type="password" id="suPassword" />
    </div>
    <div class="form-group" style="display: block; vertical-align: middle;">
      <label for="suPassword2" class="text-light" style="display: block; text-align: center;">Confirm Password</label>
      <input class="form-input" type="password" id="suPassword2" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary m-2" type="submit">Sign Up</button>
      <div id="signup-status" class = "text-light"></div>
    </div>
  </form>
</div>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>