<nav class="nav-bar">
    <div class="nav"> Selected Meeting </div>
</nav>
<div class="sub_nav">
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/">Create Reservation</a></li>
        <li><a href="/">Edit Reservation</a></li>
        <li><a href="/">Delete Reservation</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</div>
<div class="content">
    <div class="room-detail">
        [Selected Meeting Space from the Welcome/Logged In page]

        Room Capacity
    </div>
    <div class="calendar-view">
        View Calendar/Availability Section

        [Depending on which button is clicked in the nav bar above, then available options are displayed here]

        See availability for selected room
    </div>
</div>