<div class="venue-card">
  <div>
    {{venue_name}}
  </div>
  <div class="card-body">
    <p>
      Capacity:
      {{capacity}}
    </p>
   
    {{#if has_available}}
      <p class="has-available">
        Available
      </p>
    {{/if}}
  </div>
</div>