* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    
@media (max-width: 768px) {
 
  .nav-list li {
    font-size: 1rem;
    padding: 0.25rem;
  }

  .content {
    flex-direction: column;
  }

 .calendar-view {
    width: 100%;
    margin: 1rem 0;
  }
}

body{
    background-image: url("../../assets/digital.jpg") ;
    background-size: cover;
    background-position: center;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 5px 5px rgb(78, 127, 129);
    background-color: cadetblue;
    height: 80px;
    width: 1400px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: x-large;
}

.sub_nav{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sub_nav a {
    text-decoration: none;
    color: black;
}

 a:hover{
    color: black;
    background:lightgray;
    text-decoration: underline;
 }
.nav-list{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 10px 5px 5px rgb(78, 127, 129);
    background-color: cadetblue;
    margin-top: 15px;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    height: 30px;
    width: 1400px;
}

.content{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
}

.room-detail{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 5px 5px  rgb(78, 127, 129);
    margin-top: 20px;
    background-color: cadetblue;
    width: 370px;
    height: 500px;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calendar-view{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 10px 5px 5px rgb(78, 127, 129);
    margin-top: 20px;
    background-color: cadetblue;
    width: 1000px;
    height: 500px;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}